<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bundled</title>
    @Bundler.Styles("/styles/style.bundle", output: BundleOutput.Minified)
    @Bundler.Styles(new string[] { "/styles/style.css", "/styles/imports/style2.css", "/styles/imports/style3.min.css" }, output: BundleOutput.Combined)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="~/">Bundler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bootstrap3")">Bootstrap 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bootstrap4")">Bootstrap 4</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Bundled")">Bundled <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <main>
            <div class="box">
                <h1>This should be white</h1>
                <h2>This should be blue</h2>
                <h3>This should be red</h3>
            </div>
            <div class="test-absolute-relative-path-image"></div>
        </main>
    </div>
    @Bundler.Scripts("/scripts/script.bundle", output: BundleOutput.MinifiedAndCombined)
</body>
</html>