<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bundled</title>
  @Bundle.Styles("/css/style.bundle")
  @Bundle.Styles("/css/style.css", "/css/imports/style2.css", "/css/imports/style3.css")
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="~/">Bundler</a>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Bootstrap3")">Bootstrap 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Bootstrap4")">Bootstrap 4</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="@Url.Action("Bundled")">Bundled <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid">
    <main>
      <div class="box">
        <h1>This should be white</h1>
        <h2>This should be blue</h2>
        <h3>This should be red</h3>
      </div>
      <div class="test-absolute-relative-path-image"></div>
    </main>
  </div>
  @Bundle.Scripts("/js/script.bundle")
</body>
</html>